{{!< default}}

<main>
  <article>
    {{#post}}
      <h2>{{title}}</h2>
      {{content}}
      {{#author}}
          <a href="{{url}}">{{name}}</a>
      {{/author}}
    {{/post}}
  </article>
</main>
